*~$*

test
docs
pypisoundmicro/build
pypisoundmicro/pisoundmicro.egg-info
pypisoundmicro/pisoundmicro_wrap.cpp
pypisoundmicro/pypisoundmicro.egg-info
pypisoundmicro/pypisoundmicro/swig/pypisoundmicro.py

Makefile.local

**/__pycache__
**/Debug
**/Release
**/.vs
**/GeneratedFiles
**/.DS_Store

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.bin

# Compiled Dynamic libraries
*.so
*.so.*
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
